@import "test/index";
// scss引入图片路径问题
// resolution: 加入resolve-url-loader

.test-pic {
  width: 100%;
  height: 380px;
  background: url("../../../imgs/banner_flop.png");
}

@font-face {
  font-family: 'campton-bold';
  src: url('../../../fonts/campton_bold.otf');
}

.App {
  text-align: center;
  font-family: 'campton-bold';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
