// scroll container
.scrollable {
  overflow: auto;
  // 虽然这个可以保证平滑滚动，但是如果页面中存在fixed元素，fixed元素会跳来跳去
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.scroll {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; // 因为根元素为 absolute 了，可能导致页面某些元素的overflow:hidden异常，这里进行修复
  @extend .scrollable;
}
