<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--设置视图宽度和缩放-->
    <!--同时对iphone x 进行适配-->
    <meta name="viewport" content="width=375,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <title>人人车-AI智能测试</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.css">
    <!--<bgsound src="./../music/bgm.mp3" loop="-1"/>-->
    <!--<bgsound src="http://img.tukuppt.com/preview_music/00/00/95/yulan-5b87c07c7da533189.mp3" loop="-1"/>-->
  </head>
  <body>
  <div style="display:none;"><img src="./../imgs/carTest/thumbnail.jpg" alt=""></div>
  <div id="root"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
  </body>
</html>