<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--设置视图宽度和缩放-->
    <!--同时对iphone x 进行适配-->
    <meta name="viewport" content="width=375,maximum-scale=1,user-scalable=no,viewport-fit=cover">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <title></title>
  </head>
  <body>
  <div id="root"></div>
  </body>
</html>